<div class="game_block">
<p>
  <b>Name:</b>
  <%= game.name %>
</p>
<p>
  <b>Open:</b>
  <%= game.open %>
</p>
<p>
  <b>Variables:</b>
  <%= game.variables %>
</p>
<p>
  <b>Gm:</b>
  <%= game.gm %>
</p>
</div>